@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200;1,300&display=swap');



body{
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 215, 215);
    font-family: 'Poppins', sans-serif;
    color: rgb(57,57,57);
}

h1{
    font-weight: 300;
    line-height: 70px;
    font-size: 70px;
    margin: 10px 0;
}

h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    margin: 50px 0 10px 0;
    text-align: center;
}

p{
    margin: 0px;
    font-size: 30px;
}

a{
    color: cornflowerblue;
    font-size: 30px;
    text-decoration: none;
    font-weight: 100;
    font-weight: bold;
    
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}
.switch {
    width: 80px;
    height: 40px;
     background-color: black;
     border-radius: 20px;
     position: relative;
}

.flicker{
    width: 30px;
    height: 30px;
    border-radius:15px;
    background-color: white;
    position: absolute;
    top:5px;
    left: 5px;
    transition: 00.3s;
    box-shadow: 
        inset 4px 4px 4px white,
        inset -4px -4px 4px darkgray;
}

.dark{
    background-color: rgb(57, 57,57);
    transition: 0.3s;
    
}

.moon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 white;
    position: absolute;
    left: 45px;
    top: 5px;
}

.dark .flicker{
    transform: translateX(40px);
    
}

.dark>*{
    color: white;
}

.main{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 30px;
    justify-content: space-between;
}

.main-text{
    padding: 20px;
    margin-bottom: 100px;
}

.square{
    width: 98%;
    margin: 1%;
    height: 350px;
    background-color: white;
    text-align: center;
}

.dark .square{
    background-color: grey;
}


#grocery{                                           
    background-image: url("images/grocery.png"); 
    background-size: cover; 
    
} 
 
#review{ 
    background-image: url("images/review.png"); 
    background-size: cover; 
} 
 
#menu{ 
    background-image: url("images/menu.png"); 
    background-size: cover; 
} 
 
#paragraphs{ 
    background-image: url("images/paragraphs.png"); 
    background-size: cover; 
} 
.dub-section{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.hero-img{
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;
}

.cube{
    position: absolute;
    height: 80px;
    width: 80px;
    
    transform: rotate(-25deg) skew(25deg);
}

.cube:before{
    position: absolute;
    content: " ";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube:after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 21px;
    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html{
    left: 100px;
    bottom: 150px;
    background-image: url(images/html-square.png );
    background-size: cover;
    background-color: rgb(177, 120, 230);
    box-shadow: -60px 60px 20px rgb(50 50 50/15%);
}

#html:before{
    background-color: rgb(179, 148, 207);
}

#html:after{
    background-color: rgb(177, 162, 192);
}

#css{
    left: 250px;
    bottom: 300px;
    background-image: url(images/css-square.png);
    background-size: cover;
    background-color: rgb(90, 189, 153);
    box-shadow: -100px 100px 20px rgb(50 50 50/15%);
}

#css:before{
    background-color: rgb(122, 182, 170);
}

#css:after{
    background-color: rgb(166, 211, 193);
}

#javascript{
    left: 450px;
    bottom: 150px;
    background-image: url(images/javascript-square.png );
    background-size: cover;
    background-color: rgb(102, 167, 219);
    box-shadow: -60px 60px 20px rgb(50 50 50/15%);
}

#javascript:before{
    background-color: rgb(123, 188, 208);
}

#javascript:after{
    background-color: rgb(157, 198, 219);
}

#react{
    left: 280px;
    bottom: -10px;
    background-image: url(images/react-square.png );
    background-size: cover;
    background-color: rgb(231, 233, 107);
    box-shadow: -60px 60px 20px rgb(50 50 50/15%);
}

#react:before{
    background-color: rgb(200, 206, 140);
}

#react:after{
    background-color: rgb(212, 227, 179);
}

#projects{
    margin-left:50px ;
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: underline;
    
}

footer{
    display: flex;
    justify-content: center;
    padding: 100px 30px;
    background-color: rgba(201, 179, 177, 0.899);
    text-align: center;
}

.dark footer{
    background-color: rgb(79, 74, 74);
}
@media only screen and (min-width:970px) {
    .main-text{
        width: 50%;
    }
    
    .square{
        width: 48%;
        margin: 1%;
        height: 600px;
    }
}

@media only screen and (max-width:1300px) {
    .hero-img{
        display: none;
    }
}

